body {
	font-family: serif;
	font-size: 14px;
}

a { color: #006633; }
a:hover { text-decoration: none; }

h2 {
	background: #ceca9b;
	font-size: 1.2em;
	margin: 0;
	padding: 0.5em;
	color: 534741;
	text-align: center;
}

#container {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

#main {
	text-align: left;
	margin-top: 2em;
	margin-bottom: 2em;
}

#header {
	text-align: right;
}

#header img.logo {
	width: 15%;
}

#footer {
	padding-top: 1em;
	border-top: 1px solid #555;
	font-size: 0.8em;
	text-align: right;
	clear: both;
}

.error_text {
	color: red;
}

.box {
	border: 1px solid #acadab;
	background: #bed2a4;
	box-shadow: 0px 0px 5px #888;
	border-radius: 3px;
}

#login_left {
	float: left;
}

#login {
	margin-left: 1em;
	width: 12em;
}

#login form {
	padding-left: 1em;
	padding-top: 1em;
	border-top: 1px solid #acadab;
}

#login_form div.field {
	padding-bottom: 1em;
}

#login div.field input {
	width: 10.5em;
}

#login_form span.label {
	display: block;
}

#login .error_text {
	padding-left: 1em;
	text-align:center
}

#login_register {
	margin-left: 1em;
	margin-top: 1em;
	font-size: 0.9em;
	margin-bottom: 1em;
}

#login_right {
	margin-left: 15em;
}

#register {
	margin-left: 1em;
	width: 18em;
}

#register form {
	padding-left: 1em;
	padding-top: 1em;
	border-top: 1px solid #acadab;
}

#register div.field input {
	width: 16em;
}

#register .error_text {
	padding-left: 1em;
	text-align:center
}
